/*
 * Docker Engine API
 *
 * The Engine API is an HTTP API served by Docker Engine. It is the API the Docker client uses to communicate with the Engine, so everything the Docker client can do can be done with the API.  Most of the client's commands map directly to API endpoints (e.g. `docker ps` is `GET /containers/json`). The notable exception is running containers, which consists of several API calls.  # Errors  The API uses standard HTTP status codes to indicate the success or failure of the API call. The body of the response will be JSON in the following format:  ``` {   \"message\": \"page not found\" } ```  # Versioning  The API is usually changed in each release, so API calls are versioned to ensure that clients don't break. To lock to a specific version of the API, you prefix the URL with its version, for example, call `/v1.30/info` to use the v1.30 version of the `/info` endpoint. If the API version specified in the URL is not supported by the daemon, a HTTP `400 Bad Request` error message is returned.  If you omit the version-prefix, the current version of the API (v1.50) is used. For example, calling `/info` is the same as calling `/v1.52/info`. Using the API without a version-prefix is deprecated and will be removed in a future release.  Engine releases in the near future should support this version of the API, so your client will continue to work even if it is talking to a newer Engine.  The API uses an open schema model, which means the server may add extra properties to responses. Likewise, the server will ignore any extra query parameters and request body properties. When you write clients, you need to ignore additional properties in responses to ensure they do not break when talking to newer daemons.   # Authentication  Authentication for registries is handled client side. The client has to send authentication details to various endpoints that need to communicate with registries, such as `POST /images/(name)/push`. These are sent as `X-Registry-Auth` header as a [base64url encoded](https://tools.ietf.org/html/rfc4648#section-5) (JSON) string with the following structure:  ``` {   \"username\": \"string\",   \"password\": \"string\",   \"serveraddress\": \"string\" } ```  The `serveraddress` is a domain/IP without a protocol. Throughout this structure, double quotes are required.  If you have already got an identity token from the [`/auth` endpoint](#operation/SystemAuth), you can just pass this instead of credentials:  ``` {   \"identitytoken\": \"9cbaf023786cd7...\" } ``` 
 *
 * The version of the OpenAPI document: 1.54
 * 
 * Generated by: https://openapi-generator.tech
 */


use reqwest;
use serde::{Deserialize, Serialize, de::Error as _};
use crate::{apis::ResponseContent, models};
use super::{Error, configuration, ContentType};
use tokio::fs::File as TokioFile;
use tokio_util::codec::{BytesCodec, FramedRead};


/// struct for typed errors of method [`build_prune`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum BuildPruneError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_build`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageBuildError {
    Status400(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_commit`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageCommitError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_create`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageCreateError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_delete`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageDeleteError {
    Status404(models::ErrorResponse),
    Status409(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_get`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageGetError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_get_all`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageGetAllError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_history`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageHistoryError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_inspect`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageInspectError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_list`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageListError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_load`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageLoadError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_prune`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImagePruneError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_push`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImagePushError {
    Status404(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_search`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageSearchError {
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`image_tag`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ImageTagError {
    Status400(models::ErrorResponse),
    Status404(models::ErrorResponse),
    Status409(models::ErrorResponse),
    Status500(models::ErrorResponse),
    UnknownValue(serde_json::Value),
}


pub async fn build_prune(configuration: &configuration::Configuration, reserved_space: Option<i64>, max_used_space: Option<i64>, min_free_space: Option<i64>, all: Option<bool>, filters: Option<&str>) -> Result<models::BuildPruneResponse, Error<BuildPruneError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_reserved_space = reserved_space;
    let p_query_max_used_space = max_used_space;
    let p_query_min_free_space = min_free_space;
    let p_query_all = all;
    let p_query_filters = filters;

    let uri_str = format!("{}/build/prune", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_reserved_space {
        req_builder = req_builder.query(&[("reserved-space", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_max_used_space {
        req_builder = req_builder.query(&[("max-used-space", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_min_free_space {
        req_builder = req_builder.query(&[("min-free-space", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_all {
        req_builder = req_builder.query(&[("all", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filters {
        req_builder = req_builder.query(&[("filters", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::BuildPruneResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::BuildPruneResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<BuildPruneError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Build an image from a tar archive with a `Dockerfile` in it.  The `Dockerfile` specifies how the image is built from the tar archive. It is typically in the archive's root, but can be at a different path or have a different name by specifying the `dockerfile` parameter. [See the `Dockerfile` reference for more information](https://docs.docker.com/engine/reference/builder/).  The Docker daemon performs a preliminary validation of the `Dockerfile` before starting the build, and returns an error if the syntax is incorrect. After that, each instruction is run one-by-one until the ID of the new image is output.  The build is canceled if the client drops the connection by quitting or being killed. 
pub async fn image_build(configuration: &configuration::Configuration, dockerfile: Option<&str>, t: Option<&str>, extrahosts: Option<&str>, remote: Option<&str>, q: Option<bool>, nocache: Option<bool>, cachefrom: Option<&str>, pull: Option<&str>, rm: Option<bool>, forcerm: Option<bool>, memory: Option<i32>, memswap: Option<i32>, cpushares: Option<i32>, cpusetcpus: Option<&str>, cpuperiod: Option<i32>, cpuquota: Option<i32>, buildargs: Option<&str>, shmsize: Option<i32>, squash: Option<bool>, labels: Option<&str>, networkmode: Option<&str>, content_type: Option<&str>, x_registry_config: Option<&str>, platform: Option<&str>, target: Option<&str>, outputs: Option<&str>, version: Option<&str>, input_stream: Option<std::path::PathBuf>) -> Result<String, Error<ImageBuildError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_dockerfile = dockerfile;
    let p_query_t = t;
    let p_query_extrahosts = extrahosts;
    let p_query_remote = remote;
    let p_query_q = q;
    let p_query_nocache = nocache;
    let p_query_cachefrom = cachefrom;
    let p_query_pull = pull;
    let p_query_rm = rm;
    let p_query_forcerm = forcerm;
    let p_query_memory = memory;
    let p_query_memswap = memswap;
    let p_query_cpushares = cpushares;
    let p_query_cpusetcpus = cpusetcpus;
    let p_query_cpuperiod = cpuperiod;
    let p_query_cpuquota = cpuquota;
    let p_query_buildargs = buildargs;
    let p_query_shmsize = shmsize;
    let p_query_squash = squash;
    let p_query_labels = labels;
    let p_query_networkmode = networkmode;
    let p_header_content_type = content_type;
    let p_header_x_registry_config = x_registry_config;
    let p_query_platform = platform;
    let p_query_target = target;
    let p_query_outputs = outputs;
    let p_query_version = version;
    let p_body_input_stream = input_stream;

    let uri_str = format!("{}/build", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_dockerfile {
        req_builder = req_builder.query(&[("dockerfile", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_t {
        req_builder = req_builder.query(&[("t", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_extrahosts {
        req_builder = req_builder.query(&[("extrahosts", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_remote {
        req_builder = req_builder.query(&[("remote", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_q {
        req_builder = req_builder.query(&[("q", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_nocache {
        req_builder = req_builder.query(&[("nocache", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_cachefrom {
        req_builder = req_builder.query(&[("cachefrom", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_pull {
        req_builder = req_builder.query(&[("pull", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_rm {
        req_builder = req_builder.query(&[("rm", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_forcerm {
        req_builder = req_builder.query(&[("forcerm", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_memory {
        req_builder = req_builder.query(&[("memory", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_memswap {
        req_builder = req_builder.query(&[("memswap", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_cpushares {
        req_builder = req_builder.query(&[("cpushares", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_cpusetcpus {
        req_builder = req_builder.query(&[("cpusetcpus", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_cpuperiod {
        req_builder = req_builder.query(&[("cpuperiod", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_cpuquota {
        req_builder = req_builder.query(&[("cpuquota", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_buildargs {
        req_builder = req_builder.query(&[("buildargs", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_shmsize {
        req_builder = req_builder.query(&[("shmsize", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_squash {
        req_builder = req_builder.query(&[("squash", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_labels {
        req_builder = req_builder.query(&[("labels", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_networkmode {
        req_builder = req_builder.query(&[("networkmode", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_platform {
        req_builder = req_builder.query(&[("platform", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_target {
        req_builder = req_builder.query(&[("target", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_outputs {
        req_builder = req_builder.query(&[("outputs", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_version {
        req_builder = req_builder.query(&[("version", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(param_value) = p_header_content_type {
        req_builder = req_builder.header("Content-type", param_value.to_string());
    }
    if let Some(param_value) = p_header_x_registry_config {
        req_builder = req_builder.header("X-Registry-Config", param_value.to_string());
    }
    if let Some(param_value) = p_body_input_stream {
        let file = TokioFile::open(param_value).await?;
        let stream = FramedRead::new(file, BytesCodec::new());
        req_builder = req_builder.body(reqwest::Body::wrap_stream(stream));
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(resp.text().await?)
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageBuildError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn image_commit(configuration: &configuration::Configuration, container: Option<&str>, repo: Option<&str>, tag: Option<&str>, comment: Option<&str>, author: Option<&str>, pause: Option<bool>, changes: Option<&str>, container_config: Option<models::ContainerConfig>) -> Result<models::IdResponse, Error<ImageCommitError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_container = container;
    let p_query_repo = repo;
    let p_query_tag = tag;
    let p_query_comment = comment;
    let p_query_author = author;
    let p_query_pause = pause;
    let p_query_changes = changes;
    let p_body_container_config = container_config;

    let uri_str = format!("{}/commit", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_container {
        req_builder = req_builder.query(&[("container", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_repo {
        req_builder = req_builder.query(&[("repo", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_tag {
        req_builder = req_builder.query(&[("tag", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_comment {
        req_builder = req_builder.query(&[("comment", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_author {
        req_builder = req_builder.query(&[("author", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_pause {
        req_builder = req_builder.query(&[("pause", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_changes {
        req_builder = req_builder.query(&[("changes", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    req_builder = req_builder.json(&p_body_container_config);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::IdResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::IdResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageCommitError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Pull or import an image.
pub async fn image_create(configuration: &configuration::Configuration, from_image: Option<&str>, from_src: Option<&str>, repo: Option<&str>, tag: Option<&str>, message: Option<&str>, x_registry_auth: Option<&str>, changes: Option<Vec<String>>, platform: Option<&str>, input_image: Option<&str>) -> Result<(), Error<ImageCreateError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_from_image = from_image;
    let p_query_from_src = from_src;
    let p_query_repo = repo;
    let p_query_tag = tag;
    let p_query_message = message;
    let p_header_x_registry_auth = x_registry_auth;
    let p_query_changes = changes;
    let p_query_platform = platform;
    let p_body_input_image = input_image;

    let uri_str = format!("{}/images/create", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_from_image {
        req_builder = req_builder.query(&[("fromImage", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_from_src {
        req_builder = req_builder.query(&[("fromSrc", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_repo {
        req_builder = req_builder.query(&[("repo", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_tag {
        req_builder = req_builder.query(&[("tag", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_message {
        req_builder = req_builder.query(&[("message", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_changes {
        req_builder = match "csv" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("changes".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("changes", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref param_value) = p_query_platform {
        req_builder = req_builder.query(&[("platform", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(param_value) = p_header_x_registry_auth {
        req_builder = req_builder.header("X-Registry-Auth", param_value.to_string());
    }
    req_builder = req_builder.json(&p_body_input_image);

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageCreateError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Remove an image, along with any untagged parent images that were referenced by that image.  Images can't be removed if they have descendant images, are being used by a running container or are being used by a build. 
pub async fn image_delete(configuration: &configuration::Configuration, name: &str, force: Option<bool>, noprune: Option<bool>, platforms: Option<Vec<String>>) -> Result<Vec<models::ImageDeleteResponseItem>, Error<ImageDeleteError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_name = name;
    let p_query_force = force;
    let p_query_noprune = noprune;
    let p_query_platforms = platforms;

    let uri_str = format!("{}/images/{name}", configuration.base_path, name=crate::apis::urlencode(p_path_name));
    let mut req_builder = configuration.client.request(reqwest::Method::DELETE, &uri_str);

    if let Some(ref param_value) = p_query_force {
        req_builder = req_builder.query(&[("force", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_noprune {
        req_builder = req_builder.query(&[("noprune", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_platforms {
        req_builder = match "csv" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("platforms".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("platforms", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageDeleteResponseItem&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageDeleteResponseItem&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageDeleteError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get a tarball containing all images and metadata for a repository.  If `name` is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents) are returned. If `name` is an image ID, similarly only that image (and its parents) are returned, but with the exclusion of the `repositories` file in the tarball, as there were no image names referenced.  ### Image tarball format  An image tarball contains [Content as defined in the OCI Image Layout Specification](https://github.com/opencontainers/image-spec/blob/v1.1.1/image-layout.md#content).  Additionally, includes the manifest.json file associated with a backwards compatible docker save format.  If the tarball defines a repository, the tarball should also include a `repositories` file at the root that contains a list of repository and tag names mapped to layer IDs.  ```json {   \"hello-world\": {     \"latest\": \"565a9d68a73f6706862bfe8409a7f659776d4d60a8d096eb4a3cbce6999cc2a1\"   } } ``` 
pub async fn image_get(configuration: &configuration::Configuration, name: &str, platform: Option<Vec<String>>) -> Result<reqwest::Response, Error<ImageGetError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_name = name;
    let p_query_platform = platform;

    let uri_str = format!("{}/images/{name}/get", configuration.base_path, name=crate::apis::urlencode(p_path_name));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_platform {
        req_builder = match "multi" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("platform".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("platform", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(resp)
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageGetError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Get a tarball containing all images and metadata for several image repositories.  For each value of the `names` parameter: if it is a specific name and tag (e.g. `ubuntu:latest`), then only that image (and its parents) are returned; if it is an image ID, similarly only that image (and its parents) are returned and there would be no names referenced in the 'repositories' file for this image ID.  For details on the format, see the [export image endpoint](#operation/ImageGet). 
pub async fn image_get_all(configuration: &configuration::Configuration, names: Option<Vec<String>>, platform: Option<Vec<String>>) -> Result<reqwest::Response, Error<ImageGetAllError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_names = names;
    let p_query_platform = platform;

    let uri_str = format!("{}/images/get", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_names {
        req_builder = match "csv" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("names".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("names", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref param_value) = p_query_platform {
        req_builder = match "multi" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("platform".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("platform", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(resp)
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageGetAllError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Return parent layers of an image.
pub async fn image_history(configuration: &configuration::Configuration, name: &str, platform: Option<&str>) -> Result<Vec<models::ImageHistoryResponseItem>, Error<ImageHistoryError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_name = name;
    let p_query_platform = platform;

    let uri_str = format!("{}/images/{name}/history", configuration.base_path, name=crate::apis::urlencode(p_path_name));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_platform {
        req_builder = req_builder.query(&[("platform", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageHistoryResponseItem&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageHistoryResponseItem&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageHistoryError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Return low-level information about an image.
pub async fn image_inspect(configuration: &configuration::Configuration, name: &str, manifests: Option<bool>, platform: Option<&str>) -> Result<models::ImageInspect, Error<ImageInspectError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_name = name;
    let p_query_manifests = manifests;
    let p_query_platform = platform;

    let uri_str = format!("{}/images/{name}/json", configuration.base_path, name=crate::apis::urlencode(p_path_name));
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_manifests {
        req_builder = req_builder.query(&[("manifests", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_platform {
        req_builder = req_builder.query(&[("platform", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::ImageInspect`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::ImageInspect`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageInspectError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Returns a list of images on the server. Note that it uses a different, smaller representation of an image than inspecting a single image.
pub async fn image_list(configuration: &configuration::Configuration, all: Option<bool>, filters: Option<&str>, shared_size: Option<bool>, digests: Option<bool>, manifests: Option<bool>, identity: Option<bool>) -> Result<Vec<models::ImageSummary>, Error<ImageListError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_all = all;
    let p_query_filters = filters;
    let p_query_shared_size = shared_size;
    let p_query_digests = digests;
    let p_query_manifests = manifests;
    let p_query_identity = identity;

    let uri_str = format!("{}/images/json", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    if let Some(ref param_value) = p_query_all {
        req_builder = req_builder.query(&[("all", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filters {
        req_builder = req_builder.query(&[("filters", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_shared_size {
        req_builder = req_builder.query(&[("shared-size", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_digests {
        req_builder = req_builder.query(&[("digests", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_manifests {
        req_builder = req_builder.query(&[("manifests", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_identity {
        req_builder = req_builder.query(&[("identity", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageSummary&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageSummary&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageListError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Load a set of images and tags into a repository.  For details on the format, see the [export image endpoint](#operation/ImageGet). 
pub async fn image_load(configuration: &configuration::Configuration, quiet: Option<bool>, platform: Option<Vec<String>>, images_tarball: Option<std::path::PathBuf>) -> Result<(), Error<ImageLoadError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_quiet = quiet;
    let p_query_platform = platform;
    let p_body_images_tarball = images_tarball;

    let uri_str = format!("{}/images/load", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_quiet {
        req_builder = req_builder.query(&[("quiet", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_platform {
        req_builder = match "multi" {
            "multi" => req_builder.query(&param_value.into_iter().map(|p| ("platform".to_owned(), p.to_string())).collect::<Vec<(std::string::String, std::string::String)>>()),
            _ => req_builder.query(&[("platform", &param_value.into_iter().map(|p| p.to_string()).collect::<Vec<String>>().join(",").to_string())]),
        };
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    if let Some(param_value) = p_body_images_tarball {
        let file = TokioFile::open(param_value).await?;
        let stream = FramedRead::new(file, BytesCodec::new());
        req_builder = req_builder.body(reqwest::Body::wrap_stream(stream));
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageLoadError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

pub async fn image_prune(configuration: &configuration::Configuration, filters: Option<&str>) -> Result<models::ImagePruneResponse, Error<ImagePruneError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_filters = filters;

    let uri_str = format!("{}/images/prune", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_filters {
        req_builder = req_builder.query(&[("filters", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `models::ImagePruneResponse`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `models::ImagePruneResponse`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImagePruneError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Push an image to a registry.  If you wish to push an image on to a private registry, that image must already have a tag which references the registry. For example, `registry.example.com/myimage:latest`.  The push is cancelled if the HTTP connection is closed. 
pub async fn image_push(configuration: &configuration::Configuration, name: &str, x_registry_auth: &str, tag: Option<&str>, platform: Option<&str>) -> Result<(), Error<ImagePushError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_name = name;
    let p_header_x_registry_auth = x_registry_auth;
    let p_query_tag = tag;
    let p_query_platform = platform;

    let uri_str = format!("{}/images/{name}/push", configuration.base_path, name=crate::apis::urlencode(p_path_name));
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_tag {
        req_builder = req_builder.query(&[("tag", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_platform {
        req_builder = req_builder.query(&[("platform", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }
    req_builder = req_builder.header("X-Registry-Auth", p_header_x_registry_auth.to_string());

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<ImagePushError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Search for an image on Docker Hub.
pub async fn image_search(configuration: &configuration::Configuration, term: &str, limit: Option<i32>, filters: Option<&str>) -> Result<Vec<models::ImageSearchResponseItem>, Error<ImageSearchError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_query_term = term;
    let p_query_limit = limit;
    let p_query_filters = filters;

    let uri_str = format!("{}/images/search", configuration.base_path);
    let mut req_builder = configuration.client.request(reqwest::Method::GET, &uri_str);

    req_builder = req_builder.query(&[("term", &p_query_term.to_string())]);
    if let Some(ref param_value) = p_query_limit {
        req_builder = req_builder.query(&[("limit", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_filters {
        req_builder = req_builder.query(&[("filters", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();
    let content_type = resp
        .headers()
        .get("content-type")
        .and_then(|v| v.to_str().ok())
        .unwrap_or("application/octet-stream");
    let content_type = super::ContentType::from(content_type);

    if !status.is_client_error() && !status.is_server_error() {
        let content = resp.text().await?;
        match content_type {
            ContentType::Json => serde_json::from_str(&content).map_err(Error::from),
            ContentType::Text => return Err(Error::from(serde_json::Error::custom("Received `text/plain` content type response that cannot be converted to `Vec&lt;models::ImageSearchResponseItem&gt;`"))),
            ContentType::Unsupported(unknown_type) => return Err(Error::from(serde_json::Error::custom(format!("Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::ImageSearchResponseItem&gt;`")))),
        }
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageSearchError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

/// Create a tag that refers to a source image.  This creates an additional reference (tag) to the source image. The tag can include a different repository name and/or tag. If the repository or tag already exists, it will be overwritten. 
pub async fn image_tag(configuration: &configuration::Configuration, name: &str, repo: Option<&str>, tag: Option<&str>) -> Result<(), Error<ImageTagError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_path_name = name;
    let p_query_repo = repo;
    let p_query_tag = tag;

    let uri_str = format!("{}/images/{name}/tag", configuration.base_path, name=crate::apis::urlencode(p_path_name));
    let mut req_builder = configuration.client.request(reqwest::Method::POST, &uri_str);

    if let Some(ref param_value) = p_query_repo {
        req_builder = req_builder.query(&[("repo", &param_value.to_string())]);
    }
    if let Some(ref param_value) = p_query_tag {
        req_builder = req_builder.query(&[("tag", &param_value.to_string())]);
    }
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder = req_builder.header(reqwest::header::USER_AGENT, user_agent.clone());
    }

    let req = req_builder.build()?;
    let resp = configuration.client.execute(req).await?;

    let status = resp.status();

    if !status.is_client_error() && !status.is_server_error() {
        Ok(())
    } else {
        let content = resp.text().await?;
        let entity: Option<ImageTagError> = serde_json::from_str(&content).ok();
        Err(Error::ResponseError(ResponseContent { status, content, entity }))
    }
}

